# [member]
ETCD_NAME={{grains.id}}
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
#ETCD_SNAPSHOT_COUNTER="10000"
#ETCD_HEARTBEAT_INTERVAL="100"
#ETCD_ELECTION_TIMEOUT="1000"
ETCD_LISTEN_PEER_URLS="{% set comma = joiner(",") %}{% for m in pillar.get('etcdcluster', {}) %}{% for k,v in m.items() %}{{comma()}}http://{{v}}:4000{% endfor %}{% endfor %}"
ETCD_LISTEN_CLIENT_URLS="{% set comma = joiner(",") %}{% for m in pillar.get('etcdcluster', {}) %}{% for k,v in m.items() %}{{comma()}}http://{{v}}:4001{%if k == grains.id %},http://localhost:4001{%endif%}{% endfor %}{% endfor %}"
#ETCD_MAX_SNAPSHOTS="5"
#ETCD_MAX_WALS="5"
#ETCD_CORS=""
#
#[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="{% set comma = joiner(",") %}{% for m in pillar.get('etcdcluster', {}) %}{% for k,v in m.items() %}{{comma()}}http://{{v}}:4000{% endfor %}{% endfor %}"
# if you use different ETCD_NAME (e.g. test), set ETCD_INITIAL_CLUSTER value for this name, i.e. "test=http://..."
ETCD_INITIAL_CLUSTER="{% set comma = joiner(",") %}{% for m in pillar.get('etcdcluster', {}) %}{% for k,v in m.items() %}{{comma()}}{{k}}=http://{{v}}:4000{% endfor %}{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-demo-cluster"
ETCD_ADVERTISE_CLIENT_URLS="{% set comma = joiner(",") %}{% for m in pillar.get('etcdcluster', {}) %}{% for k,v in m.items() %}{{comma()}}http://{{v}}:4001{% endfor %}{% endfor %}"
#ETCD_DISCOVERY=""
#ETCD_DISCOVERY_SRV=""
#ETCD_DISCOVERY_FALLBACK="proxy"
#ETCD_DISCOVERY_PROXY=""
#
#[proxy]
#ETCD_PROXY="off"
#
#[security]
#ETCD_CA_FILE=""
#ETCD_CERT_FILE=""
#ETCD_KEY_FILE=""
#ETCD_PEER_CA_FILE=""
#ETCD_PEER_CERT_FILE=""
#ETCD_PEER_KEY_FILE=""
